body {
    background-color: rgb(31, 31, 31);
    background: repeating-linear-gradient( 45deg, #1f1e1d, #1f1e1d 5px, rgb(25, 25, 25) 5px, rgb(25, 25, 25) 25px );
    font-family: verdana;
    text-shadow: rgba(255, 204, 0, 0.71) 1px 0 6px;
  }
  .title
  {
    padding-left: 50px;
    text-shadow: rgba(255, 204, 0, 0.571) 1px 0 10px;
  }
  .text
  {
    font-size: 110%;
    color: rgb(225, 180, 123);
  }
  br
  {
    line-height:0.5;
  }
  .link
  {
    color: rgb(225, 180, 123);
    display: flex;
    flex-direction: row;
    justify-content:center;
  }
  .linkItself
  {
    color: rgb(251, 239, 223);
    
  }
  code
  {
    color: rgb(251, 239, 223);
  }
  .card
  {
    color: rgb(218, 143, 62);
    width: 600px;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-left: 20%;
  }